.privilege {
    padding: 94px 0px;
    }
    .list-privilege {
    display: flex;
    column-gap: 30px; 
    }
    .privilege-link {
    width: 270px;
    }
    .privilege-subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-header-color);    
    margin-bottom: 10px;
    }
    .privilege-text {
    color: var(--second-color);
    }
    .priv-icons {
    display: flex;    
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--second-bg-color);
    margin-bottom: 30px;
    border-radius: 4px;
    &:not(:last-child) {
    margin-right: 30px; }
    &:focus {
    border-color: var(--accent-color); }
 }